#Me Stuff
DEV LOG.txt
razmisljanja.txt


#Config files
.flaskenv
config.py
.coverage

# Environment variables
virtual

# IDE files
.vscode

# Python cache files
*.pyc
__pycache__/
*.py[cod]
*$py.class
.pyc
.pytest_cache