body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #2c2c2c;
    color: #f5f5f5;
    text-align: center;
}

.battle-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 90%;
    padding: 20px;
    border-radius: 15px;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.character-container {
    background-color: rgba(28, 68, 33, 0.8);
    padding: 20px;
    border: 3px solid #17bf44;
    border-radius: 15px;
    margin-bottom: 20px;
    width: 800px;

}
.enemy-container {
    background-color: rgba(111, 26, 26, 0.8);
    padding: 20px;
    border: 3px solid #17bf44;
    border-radius: 15px;
    margin-bottom: 20px;
}
.enemy-container.selected-char {
    /* Apply your desired styles for the selected enemy here */
    background-color: #767d0c; /* Example: Change background color */
    border: 2px solid #ff0000; /* Example: Highlight with a red border */
    box-shadow: 0 0 10px #ff0000; /* Example: Add a glowing effect */
    /* Add more styles as needed */
}

.character-main, .enemy-main {
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    align-items: center;
}

.icon-container  img.character-image{
        flex-shrink: 0;
        width: 180px;
        height: 180px;
        border: 2px solid #000d04;
        margin-right: 10px;
}

.icon-container img.enemy-icon {
        flex-shrink: 0;
        width: 180px;
        height: 180px;
        border: 2px solid #000d04;
        margin-right: 10px;
}

.stats-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}
.stats-container .stat img {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    margin-right: 5px; /* Space between icon and text */
    text-align: left;
}

.character-name,
.hp-bar,
.exp-bar {
    text-align: left;
    margin: 0 auto 5px 50px; /* Optional: Adds space to the bottom and centers horizontally */
    display: flex;
    align-items: baseline; /* Adjusts vertical alignment */
}

.enemy-name,
.enemy-hp-bar,
.exp-bar {
    text-align: left;
    margin: 0 auto 5px 50px; /* Optional: Adds space to the bottom and centers horizontally */
    display: flex;
    align-items: baseline; /* Adjusts vertical alignment */
}

.stat {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    text-align: left;
    
    
}

.stat img {
    margin-right: 10px;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-left: 10px;
    font-size: 11px; /* Reduced font size */
    padding: 8px 16px; /* Reduced padding */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #17bf44;
    background-color: #333;
    color: #ffd700;
    border-radius: 10px;
    margin-top: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #17bf44;
    color: #333;
}

.character-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
    font-size: 13px; /* Reduced font size */
    padding: 8px 16px; /* Reduced padding */
}

.enemy-textbox {
    width: 20%;
    background-color: #444;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
}



/*###################  Adjust font sizes ########################################*/
.character-container h3,
.enemy-container h3 {
    font-size: 18px; /* Reduced from original */
}

.character-container .stat,
.enemy-container .stat {
    font-size: 14px; /* Reduced from original */
    white-space: nowrap; /* Prevents the text from breaking into two lines */
    text-align: left;
}

.character-container .character-name,
.enemy-container .enemy-name {
    font-size: 24px; /* Reduced from original */
}

.character-container .hp-bar,
.character-container .exp-bar,
.enemy-container .health-bar {
    height: 15px; /* Slightly smaller height for bars */
    
}

.character-container .icon,
.enemy-container .icon {
    width: 100px; /* Adjusted icon size */
    height: 50px; /* Adjusted icon size */
}

/* Adjust button sizes */
.character-container .inventory-button,
.character-container .cast-spell-button{
    font-size: 13px; /* Reduced font size */
    padding: 8px 16px; /* Reduced padding */
}
.character-actions .attack-button {
    font-size: 13px; /* Reduced font size */
    padding: 8px 16px; /* Reduced padding */
    margin-top: 0px;
}

.enemy-container .select-button{
    font-size: 13px; /* Reduced font size */
    padding: 8px 16px; /* Reduced padding */
    margin-left: 40px;
    
}

/* Adjust container sizes */
.character-container {
    padding: 15px; /* Reduced padding */
    max-width: 500px; /* Slightly smaller max-width */
}

.enemy-container {
    padding: 10px; /* Reduced padding */
    max-width: 500px; /* Slightly smaller max-width */
}

.message-container {
    background-color: rgba(34, 30, 30, 0.8);
    color: white;
    padding: 10px;
    margin-top: 2px;
    border-radius: 10px;
    min-height: 200px; /* Adjust as needed */
    font-size: 18px;
    overflow-y: auto; /* Enable vertical scrolling */
    text-align: center;
    line-height: 0.5; /* Adjust this value to change spacing */
}

.message {
    color: white; /* Default text color */
}

.hero-damage {
    color: green; /* Hero takes damage, red text */
}

.enemy-damage {
    color: red; /* Enemy takes damage, green text */
}
.enemy-dead {
    color: rgb(43, 8, 8); /* Enemy takes damage, green text */
}
.lvl-up {
    color: rgb(26, 36, 149); /* Hero Healed by lvlong up */
}

/* Modal styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-checkbox:checked ~ .modal-overlay {
    display: flex;
}

.modal-content {
    background: #222;
    color: #fff;
    padding: 40px 20px 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    position: relative; /* Enable positioning of children */
    flex-direction: column;
    align-items: center;
}

.modal-close-button {
    background-color: #444;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: absolute; /* Position it relative to modal-content */
    top: 10px; /* Position from the top */
    right: 10px; /* Position from the right */
    margin: 0; /* Reset margin */
    z-index: 1; /* Ensure it stays on top */
    
}

.modal-button {
    background-color: #444;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px; /* Ensure there's enough space above */
}

.modal-button:hover, .modal-close-button:hover {
    background-color: #666;
}

/* Hide the checkbox used for modal toggle */
.modal-checkbox {
    display: none;
}

.vertical-form-container {
    display: flex;                /* Use flexbox for layout */
    flex-direction: column;       /* Arrange children in a column */
    align-items: center;          /* Center items horizontally */
    gap: 10px;                   /* Add space between each form element */
    width: 100%;                 /* Make sure it takes full width of the modal */
}

.vertical-form label {
    font-weight: bold;       /* Make the labels bold */
}

.form-group {
    display: flex;            /* Use flexbox for layout */
    align-items: center;      /* Center items vertically */
    gap: 10px;               /* Space between label and input */
    width: 100%;             /* Ensure it takes full width */
}