body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    color: #f5f5f5;
    text-align: center;
}
/**/
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
}

.character {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    width: 45%;  /* Adjusted to make sure it fits within the container */
    margin: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    box-sizing: border-box; /* Ensure padding is included in the width */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added transition for smooth effect */
}

.character:hover {
    transform: scale(1.05); /* Slightly enlarge the container */
    box-shadow: 0 0 30px rgba(255, 215, 0, 0.8); /* Highlight the container */
}

.character img.character-image {
    flex-shrink: 0; /* Prevent image from shrinking */
    width: 180px; /* Set the default width */
    height: 180px; /* Set the default height */
    margin-right: 20px;
    border-radius: 10px;
    border: 2px solid #ffd700;
}

.character-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1; /* Make the character-details container grow to fill the remaining space */
    width: 0; /* Prevent width from exceeding available space */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}


.character h2 {
    text-align: center; /* Align text to the left */
    margin: 0;
    font-size: 24px;
    color: #ffd700;
    word-wrap: break-word; /* Ensure words wrap within the container */
}

.stats {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 20px;
    text-align: center;
}

.stats li {
    margin: 5px 0;
    font-size: 22px;
}

.description {
    margin: 20px 0;
    text-align: center;
    font-style: italic;
    word-wrap: break-word; /* Ensures words will wrap */
    width: 100%; /* Ensures the text stays within the character container */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.fight-button {
        display: flex;
        justify-content: center;
        width: 100%;
        position: fixed;
        bottom: 20px;
    }
    
button {
        padding: 15px 30px;
        font-size: 18px;
        cursor: pointer;
        border: 2px solid #ffd700;
        background-color: #333;
        color: #ffd700;
        border-radius: 10px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
button:hover {
        background-color: #ffd700;
        color: #333;
    }