<!doctype html>
<html>
    <head>
        <title>{{ title or "Character Fight" }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/before_the_start/character_choose_style.css') }}">
        <style>
            body {
                background: url('{{ url_for('static', filename='background.png') }}') no-repeat center center fixed;
                background-size: cover;
            }
        </style>
    </head>
    <body>
        <div class="container">
            {% for character in characters %}
            <div class="character">
                <img src="{{ url_for('static', filename='warrior.png') }}" alt="{{ characters.name }}" class="character-image">
                <div class="character-details">
                    <h2>{{ character.name }}</h2>
                    <ul class="stats">
                        <li>Strength: {{ character.str }}</li>
                        <li>Agility: {{ character.agi }}</li>
                        <li>Intelligence: {{ character.int }}</li>
                        <li>Constitution: {{ character.con }}</li>
                    </ul>
                    <div class="description">
                        <p>{{ character.description[:140] }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="fight-button">
            <form action="/fight" method="POST">
                <button type="submit">Fight</button>
            </form>
        </div>
    </body>
</html>
