<!doctype html>
<html>
    <head>
        <title>{{ title or "Character Fight" }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/before_the_start/character_choose_style.css') }}">
        <style>
            body {
                background: url('{{ url_for('static', filename='background.png') }}') no-repeat center center fixed;
                background-size: cover;
            }
        </style>
    </head>
    <body>
        <div class="container">
            {% for character in characters %}
            <div class="character">
                <input type="hidden" name="icon" value="{{ character.icon }}">
                <input type="hidden" name="class_name" value="{{ character.class_name }}">
                
                <img src="{{ url_for('static', filename='classes/' + character.class_name + '/' + character.icon + '.png') }}" alt="{{ characters.name }}" class="character-image">

                <div class="character-details">
                    <div class="name-level-container">
                        <div class="level">Level: {{ character.level }}</div>
                        <h2 class="character-name">{{ character.name }}</h2>
                        <div class="character-class">Class: {{ character.class_name }}</div>
                    </div>
                    <div class="stats-container">
                        <div class="derived-stats">
                            <ul>
                                <li>
                                    <img src="{{ url_for('static', filename='icons/physical attack.jpg') }}" class="stat-icon">
                                    Physical Attack: {{ character.physical_attack }}
                                </li>
                                <li>
                                    <img src="{{ url_for('static', filename='icons/magical attack.jpg') }}" class="stat-icon">
                                    Magical Attack: {{ character.magical_attack }}
                                </li>
                                <li>
                                    <img src="{{ url_for('static', filename='icons/physical defense.jpg') }}" class="stat-icon">
                                    Physical Defense: {{ character.physical_defense }}
                                </li>
                                <li>
                                    <img src="{{ url_for('static', filename='icons/magical defense.jpg') }}" class="stat-icon">
                                    Magical Defense: {{ character.magical_defense }}
                                </li>
                                <li>
                                    <img src="{{ url_for('static', filename='icons/speed.jpg') }}" class="stat-icon">
                                    Speed: {{ character.speed }}
                                </li>
                                <li>
                                    <img src="{{ url_for('static', filename='icons/health.jpg') }}" class="stat-icon">
                                    Health: {{ character.hp }}
                                </li>
                            </ul>
                        </div>
                        <div class="base-stats">
                            <ul>
                                <li>Strength: {{ character.stats_STR }}</li>
                                <li>Agility: {{ character.stats_AGI }}</li>
                                <li>Intelligence: {{ character.stats_INT }}</li>
                                <li>Constitution: {{ character.stats_CON }}</li>
                                <li>Wisdom: {{ character.stats_WIS }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="description">
                        <p>{{ character.description[:140] }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="fight-button">
            <form action="/first_city" method="POST">
                <button type="submit">Play</button>
            </form>
        </div>
    </body>
</html>
