<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battle Simulation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/battle.css') }}">
    
</head>
<body>
    <div class="battle-container">
        <style>
            body {
                background: url("{{ url_for('static', filename= character.current_zone + '/' + character.current_zone_encounter + '.png') }}") no-repeat center center fixed;
                background-size: cover;
            }
        </style>
        <!-- Modal structure (triggered by Stats Points button) -->
        <input type="checkbox" id="stats-modal-checkbox" class="modal-checkbox">
        <div class="modal-overlay">
            <div class="modal-content">
                <h2>Allocate Stats Points</h2>
                <p>You have {{ character.stats_points }} points to allocate.</p>
                <!-- Form for allocating stat points -->
                <div class="vertical-form-container"> 
                    <form action="{{ url_for('zone_1.allocate_stats') }}" method="POST" class="vertical-form">
                        <div class="form-group">
                            <label for="strength">Strength: </label>
                            <input type="hidden" name="stat" value="strength">
                            <input type="number" id="strength" name="str" value="{{ character.str }}" min="{{ character.str }}" max="100" onchange="this.form.submit()">
                        </div>
                        <div class="form-group">
                            <label for="agility">Agility: </label>
                            <input type="hidden" name="stat" value="agility">
                            <input type="number" id="agility" name="agi" value="{{ character.agi }}" min="{{ character.agi }}" max="100" onchange="this.form.submit()">
                        </div>
                        <div class="form-group">
                            <label for="intelligence">Intelligence: </label>
                            <input type="hidden" name="stat" value="intelligence">
                            <input type="number" id="int" name="int" value="{{ character.int }}" min="{{ character.int }}" max="100" onchange="this.form.submit()">
                        </div>
                        <div class="form-group">
                            <label for="constitution">Constitution: </label>
                            <input type="hidden" name="stat" value="con">
                            <input type="number" id="con" name="con" value="{{ character.con }}" min="{{ character.con }}" max="100" onchange="this.form.submit()">
                        </div>
                        <div class="form-group">
                            <label for="wisdom">Wisdom: </label>
                            <input type="hidden" name="stat" value="wis">
                            <input type="number" id="wis" name="wis" value="{{ character.wis }}" min="{{ character.wis }}" max="100" onchange="this.form.submit()">
                        </div>
                    </form>
                </div>
                
                <label for="stats-modal-checkbox" class="modal-close-button">Close</label>
            </div>
        </div>
        <!-- Left Side: Player's Character -->
        <div class="left-side">
            <div class="character-container">
                <div class="character-header">
                    <div class="character-name">{{ character.name }}</div>
                    <div class="hp-bar">HP: {{ character.hp }}/{{ character.max_hp }}</div>
                </div>
                <div class="character-main">
                    <div class="icon-container">
                        <img src="{{ url_for('static', filename='classes/' + character.class + '/' + character.icon + '.png') }}" class="character-image" alt="Character Icon">
                    </div>
                    <div class="stats-container">
                        <div class="stat">
                            <img src= "{{ url_for('static', filename='icons/physical attack.jpg') }}" alt="Physical Damage Icon">
                            <span>Physical Damage: {{ character.physical_dmg }}</span>
                        </div>
                        <div class="stat">
                            <img src="{{ url_for('static', filename='icons/physical defense.jpg') }}" alt="Physical Defense Icon">
                            <span>Physical Defense: {{ character.physical_def }}</span>
                        </div>
                        <div class="stat">
                            <img src="{{ url_for('static', filename='icons/speed.jpg') }}" alt="Speed Icon">
                            <span>Speed: {{ character.speed }}</span>
                        </div>
                        <div class="stat">
                            <img src="{{ url_for('static', filename='icons/health.jpg') }}" alt="HP Icon">
                            <span>HP: {{ character.hp }}</span>
                        </div>
                        <div class="stat">
                            <img src="{{ url_for('static', filename='icons/magical attack.jpg') }}" alt="Magical Attack Icon">
                            <span>Magical Attack: {{ character.magical_attack }}</span>
                        </div>
                        <div class="stat">
                            <img src="{{ url_for('static', filename='icons/magical defense.jpg') }}"alt="Magical Defense Icon">
                            <span>Magical Defense: {{ character.magical_defense }}</span>
                        </div>
                    </div>
                    <div class="action-buttons">
                        {% if character.stats_points > 0 %}
                        <!-- Button to trigger modal -->
                        <label for="stats-modal-checkbox" class="allocate-stats-button">Stats Points</label>
                        {% endif %}
                        <button class="inventory-button">Inventory</button>
                        <button class="cast-spell-button">Cast Spell</button>
                    </div>
                </div>
                <div class="exp-bar">EXP: {{ character.exp }}/{{ character.next_level_exp }} Lvl: {{ character.lvl }}</div>
                <div class="character-actions">
                    <form action="{{ url_for('zone_1.attack') }}" method="POST">
                        <button class="attack-button">Attack</button>
                    </form>
                    <a href="/main_screen">
                        <button class="attack-button">Escape</button>
                    </a>
                </div>
            </div>
            <!-- Message Container -->
            <div class="message-container">
                {% for message in messages %}
                    {% if message[1] == 'hero' %}
                        <p class="message hero-damage">{{ message[0] }}</p>
                    {% elif message[1] == 'enemy' %}
                        <p class="message enemy-damage">{{ message[0] }}</p>
                    {% elif message[1] == 'enemy-dead' %}
                        <p class="message enemy-dead">{{ message[0] }}</p>
                    {% elif message[1] == 'lvl-up' %}
                        <p class="message lvl-up">{{ message[0] }}</p>
                    {% else %}
                        <p class="message">{{ message[0] }}</p>
                    {% endif %}
                {% endfor %}
            </div>
            
        </div>

        <!-- Right Side: Enemies -->
        <div class="right-side">
            {% for enemy in enemies %}
            <div class="enemy-container {% if enemy.id == selected_enemy %}selected-char{% endif %}">
                <div class="enemy-header">
                    <div class="enemy-name">{{ enemy.name }}</div>
                    <div class="enemy-hp-bar">HP: {{ enemy.current_hp }}/{{ enemy.max_hp }}</div>
                </div>
                <div class="enemy-main">
                    <div class="icon-container">
                        <img src="{{ url_for('static', filename='enemies/' + character.current_zone + '/' + enemy.name + '/' + enemy.enemy_icon + '.png') }}" class="enemy-icon" alt="Enemy Icon">
                    </div>
                    <div class="stats-container">
                        <div class="stat">
                            <img src="{{ url_for('static', filename='icons/physical attack.jpg') }}" alt="Physical Damage Icon">
                            <span>Physical Damage: {{ enemy.physical_attack }}</span>
                        </div>
                        <div class="stat">
                            <img src="{{ url_for('static', filename='icons/physical defense.jpg') }}" alt="Physical Defense Icon">
                            <span>Physical Defense: {{ enemy.physical_defense }}</span>
                        </div>
                        <div class="stat">
                            <img src="{{ url_for('static', filename='icons/speed.jpg') }}" alt="Speed Icon">
                            <span>Speed: {{ enemy.speed }}</span>
                        </div>
                        <div class="stat">
                            <img src="{{ url_for('static', filename='icons/health.jpg') }}" alt="HP Icon">
                            <span>HP: {{ enemy.max_hp }}</span>
                        </div>
                        <div class="stat">
                            <img src="{{ url_for('static', filename='icons/magical attack.jpg') }}" alt="Magical Attack Icon">
                            <span>Magical Attack: {{ enemy.magical_attack }}</span>
                        </div>
                        <div class="stat">
                            <img src="{{ url_for('static', filename='icons/magical defense.jpg') }}" alt="Magical Defense Icon">
                            <span>Magical Defense: {{ enemy.magical_defense }}</span>
                        </div>
                    </div>
                    <form action="{{ url_for('zone_1.selected_enemy') }}" method="POST">
                        <input type="hidden" name="enemy_id" value="{{ enemy.id }}">
                        <button class="select-button">Select</button>

                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
